{% extends "base.html" %}

{% block main %}
    <h1>Мой профиль</h1>

    <h2>Информация о пользователе:</h2>
    <p>Имя: {{ user.username }}</p>
    <p>Возраст: {{ user.age }}</p>
    <p>Пол: {{ user.gender }}</p>
    <p>Пол для поиска: {{ user.preferred_gender }}</p>
    <p>О себе: {{ user.about }}</p>

    <h2>Фотография профиля:</h2>
    {% if user.photo %}
        <img src="{{ url_for('static', filename=user.photo) }}" alt="Фото профиля" style="width: 35%;">
    {% else %}
        <p>Фотография профиля не загружена</p>
    {% endif %}

    <h2>Действия:</h2>
    <a href="{{ url_for('edit_profile') }}">Редактировать профиль</a>
    {% if user.hidden %}
    <a href="{{ url_for('unhide_profile') }}">Показать профиль</a>
    {% else %}
    <a href="{{ url_for('hide_profile') }}">Скрыть профиль</a>
    {% endif %}
    <a href="{{ url_for('delete_account') }}">Удалить аккаунт</a>

    <p>
        <a href="/" style="color: white; border: 2px solid rgb(96, 159, 121); padding: 5px 10px; border-radius: 5px; margin-right: 10px;">Вернуться на главную</a>
    </p>
{% endblock %}